body{
    background-color: rgb(216, 216, 224);
}



.center{
    position: absolute;
    transform: translate(-50%,50%);
    top:20%;
    left: 50%;
}

.pulso{
     width: 200px;
    height: 200px;
    background: #691e14;;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 180px;
    font-family: verdana;
    text-transform: uppercase;
    animation: animate 3s linear infinite;
    text-align: center;
}

@keyframes animate
{
    0%
    {
        box-shadow: 0 0 0 0 rgba(209, 55, 55, 0.7), 0 0 0 0 rgba(153, 24, 24, 0.7);
    }
    40%
    {
        box-shadow: 0 0 0 50px rgba(209, 55, 55, 0), 0 0 0 0 rgba(209, 55, 55, 0.7);
    }
    80%
    {
        box-shadow: 0 0 0 50px rgba(209, 55, 55, 0), 0 0 0 30px rgba(209, 55, 55, 0);
    }
    100%
    {
        box-shadow: 0 0 0 0 rgba(55, 209, 201, 0), 0 0 0 30px rgba(55, 209, 201, 0);
    }
}