body{
    background-color: #dff9fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.looder{
    height:60px;
    width: 60px;
    border: 10px solid rgba(0, 0, 0, 0.4);
    border-left-color: aquamarine;
    border-radius: 50%;
    animation: spin 3s linear infinite;
}


@keyframes spin{
    to { transform: rotate(360deg);}
}